input[required]{
    border-color: red;
}

input[type="password"]{
    background-color: lightgray;
}

a[href ^= "https"]{
    color: green;
}

a[href $=".pdf"]{
    color: pink;
}

a[href *="exemplo"]{
    font-weight: bolder;
}

div[class ~= "!ativo"]{
    background-color: lightblue;
}

p[lang |= "pt"]{
    color: green;
}